@font-face {
  font-family: 'rs-icons';
  src:
    url('https://cdn.icomoon.io/181725/Rocketspark/rs-icons.woff2?8gzh5b') format('woff2'),
    url('https://cdn.icomoon.io/181725/Rocketspark/rs-icons.ttf?8gzh5b') format('truetype'),
    url('https://cdn.icomoon.io/181725/Rocketspark/rs-icons.woff?8gzh5b') format('woff'),
    url('https://cdn.icomoon.io/181725/Rocketspark/rs-icons.svg?8gzh5b#rs-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rs-icon-"], [class*=" rs-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rs-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rs-icon-menu-billing:before {
  content: "\e903";
}
.rs-icon-menu-blog:before {
  content: "\e90a";
}
.rs-icon-menu-currency:before {
  content: "\e91c";
}
.rs-icon-menu-person:before {
  content: "\e94d";
}
.rs-icon-menu-domain:before {
  content: "\e964";
}
.rs-icon-menu-email-accounts:before {
  content: "\e965";
}
.rs-icon-menu-email-marketing:before {
  content: "\e967";
}
.rs-icon-menu-forms-inbox:before {
  content: "\e968";
}
.rs-icon-menu-get-started:before {
  content: "\e969";
}
.rs-icon-menu-g:before {
  content: "\e96a";
}
.rs-icon-menu-google:before {
  content: "\e96b";
}
.rs-icon-menu-google-workspace:before {
  content: "\e96d";
}
.rs-icon-menu-home:before {
  content: "\e96e";
}
.rs-icon-menu-import-export:before {
  content: "\e96f";
}
.rs-icon-menu-l:before {
  content: "\e970";
}
.rs-icon-menu-manage-pages:before {
  content: "\e9bd";
}
.rs-icon-menu-my-account:before {
  content: "\e9be";
}
.rs-icon-menu-my-forms:before {
  content: "\e9bf";
}
.rs-icon-menu-orders:before {
  content: "\e9c0";
}
.rs-icon-menu-payment-gateways:before {
  content: "\e9c1";
}
.rs-icon-menu-phone-numbers:before {
  content: "\e9c2";
}
.rs-icon-menu-preferences:before {
  content: "\e9c3";
}
.rs-icon-menu-products:before {
  content: "\e9c4";
}
.rs-icon-menu-promos:before {
  content: "\e9c5";
}
.rs-icon-menu-sales-stats:before {
  content: "\e9c6";
}
.rs-icon-menu-search:before {
  content: "\e9c7";
}
.rs-icon-menu-shipping:before {
  content: "\e9c8";
}
.rs-icon-menu-social-media:before {
  content: "\e9c9";
}
.rs-icon-menu-s:before {
  content: "\e9ca";
}
.rs-icon-menu-subscriptions:before {
  content: "\e9cb";
}
.rs-icon-menu-t-c:before {
  content: "\e9cc";
}
.rs-icon-menu-taxes:before {
  content: "\e9cd";
}
.rs-icon-menu-team:before {
  content: "\e9ce";
}
.rs-icon-menu-vend:before {
  content: "\e9cf";
}
.rs-icon-menu-x:before {
  content: "\e9d0";
}
.rs-icon-check-circle:before {
  content: "\e9b2";
}
.rs-icon-inbox:before {
  content: "\e9b3";
}
.rs-icon-fast-forward:before {
  content: "\e9a3";
}
.rs-icon-align-bottom:before {
  content: "\e9ba";
}
.rs-icon-align-middle:before {
  content: "\e9bb";
}
.rs-icon-align-top:before {
  content: "\e9bc";
}
.rs-icon-align-object-left:before {
  content: "\e93c";
}
.rs-icon-align-object-center:before {
  content: "\e99e";
}
.rs-icon-align-object-right:before {
  content: "\e99f";
}
.rs-icon-source-mode:before {
  content: "\e982";
}
.rs-icon-line-Icon:before {
  content: "\e97a";
}
.rs-icon-align-left:before {
  content: "\e977";
}
.rs-icon-align-center:before {
  content: "\e97b";
}
.rs-icon-align-right:before {
  content: "\e97d";
}
.rs-icon-align-justify:before {
  content: "\e97c";
}
.rs-icon-text-editor-h1:before {
  content: "\e955";
}
.rs-icon-text-editor-h2:before {
  content: "\e956";
}
.rs-icon-text-editor-h3:before {
  content: "\e957";
}
.rs-icon-bold:before {
  content: "\e958";
}
.rs-icon-italics:before {
  content: "\e959";
}
.rs-icon-underline:before {
  content: "\e975";
}
.rs-icon-strikethrough:before {
  content: "\e976";
}
.rs-icon-ul-list:before {
  content: "\e978";
}
.rs-icon-ol-list:before {
  content: "\e979";
}
.rs-icon-indent:before {
  content: "\e97e";
}
.rs-icon-outdent:before {
  content: "\e980";
}
.rs-icon-link:before {
  content: "\e97f";
}
.rs-icon-table:before {
  content: "\e981";
}
.rs-icon-arrow-down:before {
  content: "\e98a";
}
.rs-icon-arrow-left:before {
  content: "\e98b";
}
.rs-icon-arrow-right:before {
  content: "\e98c";
}
.rs-icon-arrow-up:before {
  content: "\e98d";
}
.rs-icon-arrow-maximise:before {
  content: "\e989";
}
.rs-icon-arrow-angled-down:before {
  content: "\e940";
}
.rs-icon-arrow-angled-left:before {
  content: "\e941";
}
.rs-icon-arrow-angled-right:before {
  content: "\e987";
}
.rs-icon-arrow-angled-up:before {
  content: "\e988";
}
.rs-icon-CalendarDots:before {
  content: "\e9d1";
}
.rs-icon-Calendar:before {
  content: "\e9d2";
}
.rs-icon-payment-star:before {
  content: "\e9b0";
}
.rs-icon-redo:before {
  content: "\e9a5";
}
.rs-icon-undo:before {
  content: "\e9a6";
}
.rs-icon-circle-plus:before {
  content: "\e9a0";
}
.rs-icon-circle-minus:before {
  content: "\e9a1";
}
.rs-icon-brush:before {
  content: "\e90c";
}
.rs-icon-credit-card:before {
  content: "\e986";
}
.rs-icon-google-workspace:before {
  content: "\e985";
}
.rs-icon-accordion:before {
  content: "\e983";
}
.rs-icon-controls-flat:before {
  content: "\e9b1";
}
.rs-icon-slider-old:before {
  content: "\e984";
}
.rs-icon-forms:before {
  content: "\e962";
}
.rs-icon-at:before {
  content: "\e974";
}
.rs-icon-www:before {
  content: "\e963";
}
.rs-icon-social:before {
  content: "\e933";
}
.rs-icon-page:before {
  content: "\e954";
}
.rs-icon-home:before {
  content: "\e960";
}
.rs-icon-controls:before {
  content: "\e961";
}
.rs-icon-panel-orientation:before {
  content: "\e95f";
}
.rs-icon-team:before {
  content: "\e95e";
}
.rs-icon-bottom-left-corner:before {
  content: "\e95a";
}
.rs-icon-bottom-right-corner:before {
  content: "\e95b";
}
.rs-icon-top-left-corner:before {
  content: "\e95c";
}
.rs-icon-top-right-corner:before {
  content: "\e95d";
}
.rs-icon-blog:before {
  content: "\e907";
}
.rs-icon-button:before {
  content: "\e909";
}
.rs-icon-form:before {
  content: "\e90f";
}
.rs-icon-fb-feed:before {
  content: "\e94f";
}
.rs-icon-file-upload:before {
  content: "\e950";
}
.rs-icon-grid-gallery:before {
  content: "\e951";
}
.rs-icon-h1:before {
  content: "\e952";
}
.rs-icon-shopping:before {
  content: "\e953";
}
.rs-icon-edit-pencil-next:before {
  content: "\e94e";
}
.rs-icon-cog:before {
  content: "\e94c";
}
.rs-icon-Mobile:before {
  content: "\e94b";
}
.rs-icon-shopping-bag .path1:before {
  content: "\e949";
  color: ;
}
.rs-icon-shopping-bag .path2:before {
  content: "\e94a";
  margin-left: -0.966796875em;
  color: rgb(241, 101, 100);
}
.rs-icon-person:before {
  content: "\e948";
}
.rs-icon-upload:before {
  content: "\e947";
}
.rs-icon-linkedin:before {
  content: "\e945";
}
.rs-icon-twitter:before {
  content: "\e946";
}
.rs-icon-facebook:before {
  content: "\e944";
}
.rs-icon-recurring:before {
  content: "\e943";
}
.rs-icon-fine-x:before {
  content: "\e942";
}
.rs-icon-replay-video:before {
  content: "\e93f";
}
.rs-icon-warning:before {
  content: "\e93d";
}
.rs-icon-circle-lightning:before {
  content: "\e973";
}
.rs-icon-clock:before {
  content: "\e93b";
}
.rs-icon-caret-down:before {
  content: "\e91a";
}
.rs-icon-cart-fill:before {
  content: "\e91b";
}
.rs-icon-circle-tick:before {
  content: "\e91d";
}
.rs-icon-copy:before {
  content: "\e91e";
}
.rs-icon-desktop:before {
  content: "\e91f";
}
.rs-icon-dislike:before {
  content: "\e920";
}
.rs-icon-drag-360:before {
  content: "\e921";
}
.rs-icon-drag-vertical:before {
  content: "\e922";
}
.rs-icon-dropdown:before {
  content: "\e923";
}
.rs-icon-edit-pencil:before {
  content: "\e924";
}
.rs-icon-expand:before {
  content: "\e925";
}
.rs-icon-facebook-feed:before {
  content: "\e926";
}
.rs-icon-twitter-feed:before {
  content: "\e927";
}
.rs-icon-html:before {
  content: "\e928";
}
.rs-icon-map:before {
  content: "\e92a";
}
.rs-icon-minus:before {
  content: "\e92b";
}
.rs-icon-mobile:before {
  content: "\e92c";
}
.rs-icon-picture:before {
  content: "\e92d";
}
.rs-icon-placement:before {
  content: "\e92e";
}
.rs-icon-play:before {
  content: "\e92f";
}
.rs-icon-product:before {
  content: "\e930";
}
.rs-icon-revert:before {
  content: "\e931";
}
.rs-icon-search:before {
  content: "\e932";
}
.rs-icon-settings-cog:before {
  content: "\e93e";
}
.rs-icon-star:before {
  content: "\e934";
}
.rs-icon-text-align-centre:before {
  content: "\e935";
}
.rs-icon-text-align-left:before {
  content: "\e936";
}
.rs-icon-text:before {
  content: "\e937";
}
.rs-icon-trash:before {
  content: "\e938";
}
.rs-icon-video:before {
  content: "\e939";
}
.rs-icon-plus:before {
  content: "\e93a";
}
.rs-icon-clipboard-tick:before {
  content: "\e90b";
}
.rs-icon-ellipsis-vertical:before {
  content: "\e910";
}
.rs-icon-email:before {
  content: "\e911";
}
.rs-icon-hamburger:before {
  content: "\e912";
}
.rs-icon-help:before {
  content: "\e913";
}
.rs-icon-layers:before {
  content: "\e914";
}
.rs-icon-shopping-cart:before {
  content: "\e915";
}
.rs-icon-x:before {
  content: "\e916";
}
.rs-icon-blocked:before {
  content: "\e905";
}
.rs-icon-dashboard:before {
  content: "\e906";
}
.rs-icon-ellipsis-horizontal:before {
  content: "\e908";
}
.rs-icon-key:before {
  content: "\e90d";
}
.rs-icon-pin:before {
  content: "\e90e";
}
.rs-icon-lightning:before {
  content: "\e900";
}
.rs-icon-tick:before {
  content: "\e901";
}
.rs-icon-linked-stack:before {
  content: "\e902";
}
.rs-icon-omni-drag:before {
  content: "\e9b8";
}
.rs-icon-slider:before {
  content: "\e9b9";
}
.rs-icon-icon-locked:before {
  content: "\e9b4";
}
.rs-icon-mobile-settings:before {
  content: "\e9b5";
}
.rs-icon-unlocked:before {
  content: "\e9b6";
}
.rs-icon-visible-eye:before {
  content: "\e9a8";
}
.rs-icon-hidden-eye:before {
  content: "\e9b7";
}
.rs-icon-footer:before {
  content: "\e9a9";
}
.rs-icon-copy-new:before {
  content: "\e9aa";
}
.rs-icon-columns:before {
  content: "\e9ab";
}
.rs-icon-move:before {
  content: "\e9ac";
}
.rs-icon-pencil:before {
  content: "\e9ad";
}
.rs-icon-ellipsis-vert:before {
  content: "\e9ae";
}
.rs-icon-trash-new:before {
  content: "\e9af";
}
.rs-icon-vert-drag:before {
  content: "\e9a7";
}
.rs-icon-image-upload:before {
  content: "\e904";
  color: #595c64;
}
.rs-icon-link-32:before {
  content: "\e917";
}
.rs-icon-alt-text:before {
  content: "\e918";
}
.rs-icon-border:before {
  content: "\e919";
}
.rs-icon-crop:before {
  content: "\e929";
}
.rs-icon-shape:before {
  content: "\e98e";
}
.rs-icon-text-box:before {
  content: "\e98f";
}
.rs-icon-twitter-x:before {
  content: "\e9a2";
}
.rs-icon-magic-wand:before {
  content: "\e9a4";
}
.rs-icon-ai-bag:before {
  content: "\e991";
}
.rs-icon-ai-book:before {
  content: "\e992";
}
.rs-icon-ai-brush:before {
  content: "\e993";
}
.rs-icon-ai-camera:before {
  content: "\e994";
}
.rs-icon-ai-car:before {
  content: "\e995";
}
.rs-icon-ai-cog:before {
  content: "\e996";
}
.rs-icon-ai-house:before {
  content: "\e997";
}
.rs-icon-ai-leaf:before {
  content: "\e998";
}
.rs-icon-ai-music:before {
  content: "\e999";
}
.rs-icon-ai-people:before {
  content: "\e99a";
}
.rs-icon-ai-shopping:before {
  content: "\e99b";
}
.rs-icon-ai-spoon:before {
  content: "\e99c";
}
.rs-icon-ai-tools:before {
  content: "\e99d";
}
.rs-icon-letter-l:before {
  content: "\e990";
}
.rs-icon-letter-g:before {
  content: "\e966";
}
.rs-icon-letter-s:before {
  content: "\e96c";
}
.rs-icon-letter-v:before {
  content: "\e971";
}
.rs-icon-letter-x:before {
  content: "\e972";
}
