@font-face {
  font-family: 'Rethink Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rethinksans/v7/AMODz4SDuXOMCPfdoglY9JQuWHBGG0X45DmqkmFROEnsnQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Rethink Sans';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/rethinksans/v7/AMODz4SDuXOMCPfdoglY9JQuWHBGG0X45DmqklNROEnsnQ.ttf) format('truetype');
}
